body,
header,
nav,
main,
footer,
h1,
div,
img,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #000;
}

img {
  max-width: 100%;
  display: block;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #000;
  height: 190px;
}

header img {
  margin: 0 auto;
}

nav {
  padding: 1%;
  margin-bottom: 1%;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5em;
  font-family: "Francois One", sans-serif;
  border-top: 1px solid #fff;
}

nav li:first-child {
  border-top: none;
}

nav li a {
  display: block;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}

.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}

.tel-link {
  background-color: #404040;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.tel-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

.hours {
  margin-left: 10%;
}

main {
  background-color: #fff;
  padding: 2%;
  font-size: 1.15em;
  font-family: "Roboto Slab", serif;
}

footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

.action {
  font-size: 1.35em;
  color: #666600;
  font-weight: bold;
}

#weights,
#cardio,
#training {
  margin: 0, 2%;
}

/* #exercises {
  clear: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f2f2f2;
  padding: 1% 2%;
}

#exercises dt {
  font-weight: bold;
}

#exercises dd {
  padding: 0.5% 1% 2% 0;
} */

.external-link {
  color: #666600;
  font-weight: bold;
  text-decoration: none;
}

#contact {
  text-align: center;
}

#contact .contact-email-link {
  color: #666000;
  text-decoration: none;
}

.round {
  border-radius: 8px;
}

.map {
  border: 2px solid #000;
  width: 95%;
  height: 50%;
}
